# Core
pytz~=2019.3  # django dependency
Django~=2.2.10
utils2devops~=0.1
python-dotenv~=0.12.0
django-debug-toolbar>=2.2
django-bootstrap4~=1.1.1

# Storages
psycopg2-binary~=2.8.5

# Rest apis
djangorestframework~=3.11.0
django-filter~=2.2.0
six~=1.14.0  # django-rest-auth pytest dependency
django-rest-auth~=0.9.5


# Dynamic Documentations
certifi~=2020.4  # coreapi dependency
coreschema==0.0.4  # coreapi dependency
itypes==1.1.0  # coreapi dependency
uritemplate~=3.0.1  # coreapi dependency
coreapi~=2.3.3

# static documentation
pygments-pytest~=2.0.0
recommonmark~=0.6.0  # sphinx dependency
MarkupSafe>=1.1.1  # Jinja2 dependency
Jinja2>=2.11.2  # sphinx dependency
Sphinx==3.0.1
readthedocs-sphinx-ext==1.0.1
chardet>=3.0.4  # requests dependency
idna>=2.9  # requests dependency
urllib3>=1.25.8  # request dependency
requests>=2.23.0
